<div class="body">
  <mat-card class="loginCard">

    <div class="header">
      <h2>Login</h2>
    </div>
    <mat-card-content style="padding-bottom: 15px;">
      <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="formLogin">
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput autocomplete="off" />
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" autocomplete="off">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" type="button">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <button class="full-width" mat-raised-button color="primary" type="submit" [disabled]="formLogin.invalid">
            Ingresar
            <mat-icon matSuffix>login</mat-icon>
          </button>
        </div>
      </form>

    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>


