
<h1 style="margin:20px 0px 0px 40px">Productos</h1>
<mat-card style="margin: 20px 40px 40px 40px">

  <mat-card-title>
    <button mat-raised-button color="primary" (click)="agregarProducto()"><mat-icon mat-list-icon>add</mat-icon> Nuevo Producto</button>
  </mat-card-title>
  <mat-divider inset></mat-divider>

  <mat-card-content class="dashboard-card-content">

    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)"  #input>
    </mat-form-field>

    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef> Categoria </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcionCategoria}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef> Stock </th>
          <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
        </ng-container>

        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="width:80px"> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="editarProducto(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="eliminarProducto(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>

    </div>

  </mat-card-content>

</mat-card>
