
  <h2 mat-dialog-title>{{accion}} Producto</h2>
  <mat-dialog-content>

    <form [formGroup]="formProducto">
      <mat-grid-list cols="1" rowHeight="80px">

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput autocomplete="off" formControlName="nombre">
            <mat-icon matSuffix>fit_screen</mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="idCategoria">
              <mat-option *ngFor="let item of listaCategorias" [value]="item.idCategoria">
                {{item.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Stock</mat-label>
            <input matInput autocomplete="off" formControlName="stock"  type="number">
            <mat-icon matSuffix>edit_square</mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Precio</mat-label>
            <input matInput autocomplete="off" formControlName="precio"  type="text">
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>
        </mat-grid-tile>


      </mat-grid-list>
    </form>


  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Volver</button>
    <button mat-raised-button
            color="primary"
            [disabled]="formProducto.invalid"
            (click)="agregarEditarProducto()">
      {{accionBoton}}
    </button>
  </mat-dialog-actions>
